table {
    margin-top: 2%;
    width: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

table #temperatura {
    text-align: center;
}

table #iconos {
    text-align: center;
}

table #estado {
    text-align: center;
}

table #editar {
    text-align: center;
}