<table>
    <tr id="dias">
        <th>Lunes</th>
        <th>Martes</th>
        <th>Miercoles</th>
        <th>Jueves</th>
        <th>Viernes</th>
        <th>Sabado</th>
        <th>Domingo</th>
    </tr>
    <tr id="iconos">
        <td><img src="assets\soleado.png" alt="soleado" width="100" height="100"></td>
        <td><img src="\assets\lluvia.png" alt="lluvia" width="100" height="100"></td>
        <td><img src="\assets\nubes.png" alt="nubes" width="100" height="100"></td>
        <td><img src="\assets\tormenta.png" alt="tormenta" width="100" height="100"></td>
        <td><img src="\assets\soleado.png" alt="soleado" width="100" height="100"></td>
        <td><img src="\assets\lluvia.png" alt="lluvia" width="100" height="100"></td>
        <td><img src="\assets\tormenta.png" alt="tormenta" width="100" height="100"></td>
    </tr>
    <tr id="temperatura">
        <td>
            <p id="temp1">18°C</p>
        </td>
        <td>
            <p id="temp2">10°C</p>
        </td>
        <td>
            <p id="temp3">15°C</p>
        </td>
        <td>
            <p id="temp4">8°C</p>
        </td>
        <td>
            <p id="temp5">20°C</p>
        </td>
        <td>
            <p id="temp6">10°C</p>
        </td>
        <td>
            <p id="temp7">7°C</p>
        </td>
    </tr>
    <tr id="estado">
        <td>
            <p id="valor1">Soleado</p>
        </td>
        <td>
            <p id="valor2">Lluvioso</p>
        </td>
        <td>
            <p id="valor3">Nublado</p>
        </td>
        <td>
            <p id="valor4">Tormenta</p>
        </td>
        <td>
            <p id="valor5">Soleado</p>
        </td>
        <td>
            <p id="valor6">Lluvioso</p>
        </td>
        <td>
            <p id="valor7">Tormenta</p>
    </tr>
    <tr id="editar">
        <td><button><a  [routerLink]="['/formulario']" routerLinkActive="router-link-active" ><i class="far fa-edit"></i></a></button></td>
        <td><button><a  [routerLink]="['/formulario']" routerLinkActive="router-link-active" ><i class="far fa-edit"></i></a></button></td>
        <td><button><a  [routerLink]="['/formulario']" routerLinkActive="router-link-active" ><i class="far fa-edit"></i></a></button></td>
        <td><button><a  [routerLink]="['/formulario']" routerLinkActive="router-link-active" ><i class="far fa-edit"></i></a></button></td>
        <td><button><a  [routerLink]="['/formulario']" routerLinkActive="router-link-active" ><i class="far fa-edit"></i></a></button></td>
        <td><button><a  [routerLink]="['/formulario']" routerLinkActive="router-link-active" ><i class="far fa-edit"></i></a></button></td>
        <td><button><a  [routerLink]="['/formulario']" routerLinkActive="router-link-active" ><i class="far fa-edit"></i></a></button></td>
    </tr>
</table>