table {
    margin-top: 2%;
    width: 100%;
}

table #temperatura {
    text-align: center;
}

table #iconos {
    text-align: center;
}

table #estado {
    text-align: center;
}

table #editar {
    text-align: center;
}