fieldset {
    margin-top: 3%;
}

#formulario {
    text-align: center;
    margin: 1px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

#region select {
    margin-left: 3%;
}

#formulario ul {
    margin-left: 1%;
}

#formulario ul li {
    list-style-type: none;
    margin: 3%;
}

#formulario ul #clima input {
    margin-left: 3%;
}

#formulario ul #clima label {
    margin-left: 2%;
}